.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.headerContent {
    color: var(--white);
    max-width: 50rem;

    h4 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    strong {
        font-size: 72px;
    }

    span {
        font-weight: bold;
        color: var(--cyan-500);
    }

    p {
        margin-top: 2rem;
    }

}